body{
    padding: 2rem;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: hsl(202, 86%, 94%);
    font-family: "Plus Jakarta Sans";
    color: hsl(202, 55%, 16%);
    font-weight: 500;
}
main{
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 10px 75px hsla(200, 24%, 40%, 0.5);
    background-color: #fff;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
section{
    padding: 2rem;
    flex: 1 1 320.8px;
}
h1{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
h1 span{
    margin: .5rem 0 1rem;
    color: hsl(200, 24%, 40%);
    text-decoration: underline;
    font-size: 1rem;
}
h1 span:hover, .Mortgage div label, button{
    cursor:pointer;
}
form{
    display: flex;
    flex-direction: column;
}
form> label, form> p, .container> div > label{
    margin-bottom: .5rem;
    font-weight: 700;
    color: hsl(200, 24%, 40%);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.container div{
    flex: 1 1 166px;
}
.container .numberInput{
    margin: 0;
}
.container> :first-child div label{
    padding-right: 1.5em;
}
.numberInput, .Mortgage div label{
    display: flex;
    border-radius: 5px;
    border: 2px solid hsl(200, 24%, 40%);
    overflow: hidden;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.numberInput:hover{
    border: 3px solid hsl(202, 55%, 10%)
}
.numberInput, .Mortgage div label, button{
    height: 3rem;
}
.numberInput{
    margin-bottom: 1rem;
    justify-content: space-between;
}
form> .numberInput:first-of-type{
    flex-direction: row-reverse;
}
.numberInput input, .Mortgage div label{
    width: 100%;
    padding-left: 1rem;
}
.numberInput input, button{
    border: none;
}
.numberInput input, .Mortgage div label, button{
    color: hsl(202, 55%, 16%);
    font-weight: 700;
    font-size: 1.125em;
    font-family: "Plus Jakarta Sans";
}
.numberInput input:focus{
    outline: none;
}
.numberInput label{
    width: max-content;
    min-width: 48px;
    padding: 0 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: hsl(202, 86%, 94%);
    color: hsl(200, 24%, 40%);
    font-weight: 700;
}
.Mortgage{
    margin-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Mortgage div input{
    position: absolute;
    width: 0;
}
.Mortgage div label:hover{
    border: 2px solid hsl(61, 70%, 52%);
}
.Mortgage input:checked ~ label{
    background-color: hsla(61, 70%, 52%, 0.125);
    border: 2px solid hsl(61, 70%, 52%);
}
.Mortgage div label{
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left:3rem;
}
.Mortgage div label::before,.Mortgage div label::after, button{
    border-radius: 100px;
    
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
.Mortgage div label::before, .Mortgage div label::after{
    content: "";
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    left: 1rem;
}
.Mortgage div label::before{
    display: block;
    border: 2px solid hsl(200, 24%, 40%);
}
.Mortgage input:checked ~ label::before{
    border: 2px solid hsl(61, 70%, 52%);
}
.Mortgage input:checked ~ label::after{
    left: 1.25rem;
    width: 10px;
    aspect-ratio: 1/1;
    background-color: hsl(61, 70%, 52%);
}
button{
    max-width: 20rem;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    background-color: hsl(61, 70%, 52%);
}
button:hover{
    background-color: hsla(61, 70%, 52%, 0.75)
}
.results{
    display: flex;
    flex-direction: column;
    border-radius: 0 0 0 75px;
    background-color: hsl(202, 55%, 16%);
    color: white;
    -webkit-border-radius: 0 0 0 75px;
    -moz-border-radius: 0 0 0 75px;
    -ms-border-radius: 0 0 0 75px;
    -o-border-radius: 0 0 0 75px;
}

.completeSection img, .completeSection .uncompleteState{
    display: none;
}
.uncompleteSection .submittedState{
    display: none;
}
.uncompleteSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uncompleteSection :nth-child(n){
    text-align: center;
}
.results h2{
    margin: 0
}
.results> p, h3{
    color: rgba(255, 255, 255, 0.5);
}
.completeSection> div{
    padding: 1rem;
    background-color: hsl(202, 55%, 10%);
    box-shadow: 0 -3px hsl(61, 70%, 52%);
    border-radius: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
h3{
    font-size: .9em;
}
.completeSection> div p{
    margin: 0;
}
.completeSection> div p:first-of-type{
    border-bottom: 1px solid hsla(200, 24%, 40%, 0.5);
    color: hsl(61, 70%, 52%);
    font-size: 2em;
    padding-bottom: 1rem;
}
.completeSection> div p:last-of-type{
    font-size: 1.25em;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media only screen and (max-width:768px){
    .results{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
}
    .container div{
        flex: 1 1 208px;
    }
}
@media only screen and (max-width:563.5px){
    body{
        padding: 0;
    }
    main{
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
    button{
        max-width: none;
        width: 100%;
        align-self: center;
    }
}