body{
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background: hsl(202, 86%, 94%);
    font-family: "Plus Jakarta Sans";
    color: hsl(202, 55%, 16%);
}























.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }